body {
  background: #fafafa;
}

.divider {
  height: 2px;
  clear: both;
  /* background-color: #D5CF8E;  */
} 

#fp
{
  width:400px;
  height:400px;
}

#status
{
  width:400px;
  height:100px;
}

.floatleft
{
  float:left;
}

#edit
{
  padding-left:20px;
}

table
{
  padding-left:20px;
}

td
{
  padding-left:10px;
}